<!DOCTYPE html>
<html>
    <head> 
        <base href="/">               
        <link type="text/css" rel="stylesheet" href="style.css" />
        <title> Login</title>
        <%-include('../navbar')-%> 
    </head>
    <body>
        <h1>Bitte Einloggen</h1>


        <div class="box">
            <form action="/submit_login" method="POST">
            <div class="input-container">
                <label for="Email"></label> <br>
                <input type="email" name="email" placeholder="Email"required >
            </div>
            <div class="input-container">
            <label for="Passwort"></label> <br>
            <input type="password" name="passwort" placeholder="Passwort" required>
            </div>
            
           <button type="submit" class="button"> Login</button>
        </form>
        </div>



        
        
        <form action="/goto_register">
        </form>
    
        <h2> <%= fehlertext %> </h2>
    </body>
</html>