<!DOCTYPE html>
<html>
    <head> 
        <base href="/">               
        <link type="text/css" rel="stylesheet" href="style.css" />
        <title> Registrierung</title>
        <%- include('../navbar')%>
    </head>
    <body>

        <div class="box">
            <form action="/oncreate" method="POST">
            <div class="input-container">
                <label for="Vorname"></label> <br>
                <input type="text" name="vorname" placeholder="Vorname"required> 		
            </div>
            <div class="input-container">		
                <label for="Nachname"></label> <br>
            <input type="text" name="nachname" placeholder="Nachname" required>
            </div>
            <div class="input-container">
                <label for="Email"></label> <br>
                <input type="email" name="email" placeholder="Email"required >
            </div>
            <div class="input-container">
            <label for="Passwort"></label> <br>
            <input type="password" name="passwort" placeholder="Passwort" required>
            </div>
            
           <button type="submit" class="form_button"> Registrieren</button>
        </form>
        </div>
        <h2> <%= fehlertext %> </h2>
    </body>
</html>