<!DOCTYPE html>
    <html>

        <head> 
            <base href="/">               
            <link type="text/css" rel="stylesheet" href="style.css" />
            <title> Mein Konto</title>
    </head>
    <!------------------Navigationsleitste------------------->
    <body> 
            <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,800,300" rel="stylesheet" type="text/css"/>
            <h1>CinemaSeat</h1>
            <h2>Filmreife Kinosoftware</h2>
            <nav class="nav">
            <ul class="nav__menu">
                    <li onclick="location.href='/home';" class="nav__menu-item"> <a>Startseite</a></li>
                    <li onclick="location.href='/program';" class="nav__menu-item"><a>Aktuelles Programm</a>
            <ul class="nav__submenu">
                    <li onclick="location.href='/#';" class="nav__submenu-item"> </a> <a>OMEGALUL Part 2</a></li>
                    <li onclick="location.href='/#';" class="nav__submenu-item"> <a>James Bond: Ein neuer Fall</a></li>
                    <li onclick="location.href='/#';" class="nav__submenu-item"> <a>Quarantine: a 2020 Story</a></li>
            </ul>
            </li>
            <li onclick="location.href='/goto_info';" class="nav__menu-item"><a>Über das Kino</a>
            <ul class="nav__submenu">
                    <li class="nav__submenu-item"> <a>Our Company</a></li>
                    <li class="nav__submenu-item"> <a>Our Team</a></li>
                    <li class="nav__submenu-item"> <a>Our Reach</a></li>
            </ul>
            </li>
            <li onclick="location.href='/goto_login';" class="nav__menu-item"><a>Login</a></li>
            <li class="nav__menu-item"><a>Registrierung</a></li>
            </ul>
            </nav>
    </body>
    <!------------------Navigationsleitste---ENDE---------------->

        <body>
            <h1>Benutzerkonto</h1>
            <h2>
                <p></p>
                Vorname: <%=vorname%>
                <p></p>
                Nachname: <%=nachname%>
                <p></p>
                Email: <%=email%> 
                <p></p>
                </p>
            </h2>
            <h2>
           
            <p></p>
            <a href="/goto_account_settings" class="button">Kontoeinstellungen</a>
            <p></p>
            <a href="/goto_logout" class="button">Logout</a>   
            </h2>
        </body>


</html>