<!DOCTYPE html>
    <html>

        <head>
            <title>Kontoeinstellungen</title>
        </head>

        <body>
            <h1>Benutzerkonto</h1>
            <h2>
                <a href="/home" class="button">Startseite</a>
                <p></p>
                <a href="/goto_account_settings" class="button">Kontoeinstellungen</a>
                <p></p>
                <a href="/goto_logout" class="button">Logout</a>
            </h2>


        </body>


</html>