<!DOCTYPE html>
<html>
        <head> 
                <base href="/">               
                <link type="text/css" rel="stylesheet" href="style.css" />
                <title> CinemaSeat Startseite</title>
                <%- include('navbar')%>
        </head>
        
        <h1>  </h1>
        <h2>
                Du hast ein Ticket gekauft für die Aufführung von <%=filmtitel%>. <br>
                Dein Sitzplatz ist Reihe <%=reihe%> und Nummer <%=nummer%>.
                <br>
                <h2 class="fehlertext">VIEL SPAß BEIM FILM! <br>
                                        wünscht CinemaSeat</h2>
        </h2>
        <br>
        <br>
        <div class="buttons">
                <button class="button logout_btn"><a href="/goto_logout">Logout</a></button> 
                <button class="button "><a href="/goto_program">Aktuelles Filmprogramm</a></button> 

        </div>
        
</html>