<!DOCTYPE html>
<html>
        <head> 
                <base href="/">               
                <link type="text/css" rel="stylesheet" href="style.css" />
                <title> CinemaSeat Startseite</title>
                <%- include('navbar')%>
        </head>
        
        <h1>  </h1>
        <p1>
                Du hast ein Ticket gekauft für die Aufführung von <%=filmtitel%>. 
                Dein Sitzplatz ist Nr. <%=sitzplatz[1]%> in Reihe <%=sitzplatz[0]%> 
        </p1>
       
</html>