<!DOCTYPE html>
<html>
<head>
        <link rel="stylesheet" href="/sidebar/css/style.css">
        <title> CinemaSeat Startseite</title>
</head>
<body>
        <h1>Willkommne Bei CinemaSeat</h1>
        <h2>Das Online Tool für Kinoticktets und Reservierungen</h2>
        <form action="/goto_login">
                <input type="submit" value="Login">
        </form>
        <br>
        <form action="/goto_register">
                <input type="submit" value="Registrierung">
        </form>
        <br>
        <form action="/goto_program">
                <input type="submit" value="Aktuelles Kinoprogramm">
        </form>
        <br>
        <form action="/goto_info">
                <input type="submit" value="Informationen zum Kino">
         </form>
</body>

</html>