<!DOCTYPE html>
<html>
        <head>                
                <link href="/css/style.css" rel="stylesheet" type="text/css">
                <title> CinemaSeat Startseite</title>
        </head>
        <body>
                <h1>Willkommen Bei CinemaSeat</h1>
                <h2>Das Online Tool für Kinoticktets und Reservierungen</h2>

                <a href="/goto_login" class="button">Login</a>
                <p></p>

                <a href="/goto_register" class="button">Registrierung</a>
                <p></p>

                <a href="/goto_program" class="button">Aktuelles Kinoprogramm</a>
                <p></p>
                
                <a href="/goto_info" class="button">Informationen zum Kino</a>
        
        </body>

</html>