<!DOCTYPE html>
<html>
        <head> 
                <base href="/">               
                <link type="text/css" rel="stylesheet" href="style.css" />
                <title> CinemaSeat Startseite</title>
                <%- include('navbar')%>
        </head>    
        <h2> <%= fehlertext %> </h2>
</html>