<!DOCTYPE html>
<html>
        <head> 
                <base href="/">               
                <link type="text/css" rel="stylesheet" href="style.css" />
                <title> CinemaSeat Startseite</title>
        </head>
        <!------------------Navigationsleitste------------------->
        <body> 
                <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,800,300" rel="stylesheet" type="text/css"/>
                <h1>CinemaSeat</h1>
                <h2>Filmreife Kinosoftware</h2>
                <nav class="nav">
                <ul class="nav__menu">
                        <li onclick="location.href='/home';" class="nav__menu-item"> <a>Startseite</a></li>
                        <li onclick="location.href='/program';" class="nav__menu-item"><a>Aktuelles Programm</a>
                <ul class="nav__submenu">
                        <li onclick="location.href='/#';" class="nav__submenu-item"> </a> <a>OMEGALUL Part 2</a></li>
                        <li onclick="location.href='/#';" class="nav__submenu-item"> <a>James Bond: Ein neuer Fall</a></li>
                        <li onclick="location.href='/#';" class="nav__submenu-item"> <a>Quarantine: 2020 the Movie</a></li>
                </ul>
                </li>
                <li onclick="location.href='/goto_info';" class="nav__menu-item"><a>Über das Kino</a>
                <ul class="nav__submenu">
                        <li class="nav__submenu-item"> <a>Our Company</a></li>
                        <li class="nav__submenu-item"> <a>Our Team</a></li>
                        <li class="nav__submenu-item"> <a>Our Reach</a></li>
                </ul>
                </li>
                <li onclick="location.href='/goto_login';" class="nav__menu-item"><a>Login</a></li>
                <li onclick="location.href='/goto_register';" class="nav__menu-item"><a>Registrierung</a></li>
                </ul>
                </nav>
        </body>

       
</html>