<!DOCTYPE html>
<html>
        <head> 
                <base href="/">               
                <link type="text/css" rel="stylesheet" href="style.css" />
                <title> Infos über das Kino</title>
        </head>
       <!------------------Navigationsleitste------------------->
       <body> 
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,800,300" rel="stylesheet" type="text/css"/>
        <h1>CinemaSeat</h1>
        <h2>Filmreife Kinosoftware</h2>
        <nav class="nav">
        <ul class="nav__menu">
                <li onclick="location.href='/home';" class="nav__menu-item"> <a>Startseite</a></li>
                <li onclick="location.href='/program';" class="nav__menu-item"><a>Aktuelles Programm</a>
        <ul class="nav__submenu">
                <li onclick="location.href='/#';" class="nav__submenu-item"> </a> <a>OMEGALUL Part 2</a></li>
                <li onclick="location.href='/#';" class="nav__submenu-item"> <a>James Bond: Ein neuer Fall</a></li>
                <li onclick="location.href='/#';" class="nav__submenu-item"> <a>Quarantine: 2020 the Movie</a></li>
        </ul>
        </li>
        <li onclick="location.href='/goto_info';" class="nav__menu-item"><a>Über das Kino</a>
        <ul class="nav__submenu">
                <li class="nav__submenu-item"> <a>Our Company</a></li>
                <li class="nav__submenu-item"> <a>Our Team</a></li>
                <li class="nav__submenu-item"> <a>Our Reach</a></li>
        </ul>
        </li>
        <li onclick="location.href='/goto_login';" class="nav__menu-item"><a>Login</a></li>
        <li onclick="location.href='/goto_register';" class="nav__menu-item"><a>Registrierung</a></li>
        </ul>
        </nav>
</body>
<body>
        <h3>Willkommnen in dem Lokalen Dorfkino</h3>
        <br>
        <h4>Wir sind das beste Kino der Stadt!</h4>
        <br>
        <p>     
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. <br>
                At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. <br>
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. <br>
                At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, <br>
                consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. <br>
                At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. <br>
                Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros <br>
                et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Lorem ipsum dolor sit amet, <br>
        </p>
  
</body>

</html>