<!DOCTYPE html>
<html>

    <head> 
        <base href="/">               
        <link type="text/css" rel="stylesheet" href="style.css" />
        <title> Login</title>
        <%- include('navbar')%>
</head>

    <body>
        <h1>Bitte Einloggen</h1>

            <form action="/submit_login" method="POST">
                <label for="fname" >Email</label>
                <input type="email" name="email"required><br><br>
                <label for="lname" class="form__label">Passwort</label>
                <input type="password" name="passwort" required><br><br>
                <input type="submit" value="Einloggen">
            </form>
        <p></p>
        <form action="/goto_register">
        </form>
    
        <h2> <%= fehlertext %> </h2>
    </body>

</html>