<!DOCTYPE html>
<html>
    <head>
        <title>Fehler bei der Anmeldung</title>
    </head>

    <body>
        <h2>Die Eingegebenen Login-Daten sind Fehlerhaft</h2>

        <!--Hier kommt eine js-Funktion welche den Grund des Fehlers ausgibt (Email falsch/ nicht registriert
            Passwort Falsch-->

        <p>Grund der Fehlermeldung:</p>

        <p></p>

            <h2>
        <a href="/goto_login" class="button">Zurück zum Login</a>
        <p></p>
        <a href="/home" class="button">Startseite</a>
        <p></p>
            </h2>
    </body>


</html>