<!DOCTYPE html>
<html>
        <head> 
                <base href="/">               
                <link type="text/css" rel="stylesheet" href="style.css" />
                <title> CinemaSeat Startseite</title>
        </head>


<!------------------Navigationsleitste------------------->
<body>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,800,300" rel="stylesheet" type="text/css"/>
    <h1>CinemaSeat</h1>
    <h2>Filmreife Kinosoftware</h2>
    <nav id="nav">
    <ul id="nav__menu">
            <li onclick="location.href='/home';" id="nav__menu-item"> <a>Startseite</a></li>
            <li onclick="location.href='/goto_program';" id="nav__menu-item"><a>Aktuelles Programm</a>
    
    </li>
    <li onclick="location.href='/goto_info';" id="nav__menu-item"><a>Über das Kino</a></li>
    <li id="nav__menu-item"><a>Account</a>
        <ul id="nav__submenu">

                <!-- Prüft ob die Sessionvariable gesetzt ist und führt dementsprechend die Blöcke aus.
                     D.h., dass alle ejs-Dateien, die die Navigationsbar benutzen, {sessionUserName: req.session.userName} übergeben bekommen haben müssen.
                     Sollte der Benutzer sich nicht eingeloggt haben, so ist die Variable sessionUserName undefinied. --> 
                <% if(sessionVariables) {%>
                        <li onclick="location.href='/goto_account_settings';" id="nav__submenu-item"> <a>Kontoeinstllungen von <%= sessionVariables.userName %></a></li>
                        <li onclick="location.href='/goto_logout';" id="nav__submenu-item"> <a>Logout</a></li>

        
                <%} else {%>
                        <li onclick="location.href='/goto_login';" id="nav__submenu-item"> <a>Login</a></li>
                        <li onclick="location.href='/goto_register';" id="nav__submenu-item"> <a>Registrierung</a></li>
                <%}%>   

        </ul>
    </li>
    </ul>
    </nav>
</body>
<!------------------Navigationsleitste------------------->
</html>