<!DOCTYPE html>
    <html>

        <head> 
            <base href="/">               
            <link type="text/css" rel="stylesheet" href="style.css" />
            <title> Mein Konto</title>
            <%- include('navbar')%>
    </head>
    <div>
        <%for (var i = 0; i < filmtitel.length; i++) {%>
        <div class="movie_prev">
                <div> <%=filmtitel[i] %> </div> 
                <div><img width=75% src=<%=fotokennung[i].toString() + ".jpg" %>></div>
                <div> <form action="/getMovieSelect" method="POST"> <button type="submit" name="kennung" value=<%=fotokennung[i].toString() %> class="ticket_button">Jetzt Tickets Sichern</button></form></div> 
                
        </div>
        <%}%>     
    </div>
</html>

