<!DOCTYPE html>
    <html>

        <head> 
            <base href="/">               
            <link type="text/css" rel="stylesheet" href="style.css" />
            <title> Mein Konto</title>
            <%- include('navbar')%>
    </head>
           
       
    <div>
        <div class="movie_prev">
                <div>James Bond: Ein neuer Auftrag </div> 

                <div class="ticket_button">Jetzt Tickets Sichern</div>
        </div>
        <div class="movie_prev">
                <div>Star Wars: Episode 10 </div> 

                <div class="ticket_button">Jetzt Tickets Sichern</div>
        </div>
        <div class="movie_prev">
                <div>2020 The Movie</div> 

                <div class="ticket_button">Jetzt Tickets Sichern</div>
        </div>
        <div class="movie_prev">
                <div>Narvel's The Revengers </div> 

                <div class="ticket_button">Jetzt Tickets Sichern</div>
        </div>
    </div>



</html>