<!DOCTYPE html>
    <html>

        <head> 
            <base href="/">               
            <link type="text/css" rel="stylesheet" href="style.css" />
            <title> Mein Konto</title>
            <%- include('navbar')%>
    </head>
    <div>
        <%for (var i = 0; i < filmtitel.length; i++) {%>
        <div class="movie_prev">
                <div> <%=filmtitel[i] %> </div> 

                <div class="ticket_button">Jetzt Tickets Sichern</div>
        </div>
        <%}%>     
    </div>
</html>

