<!DOCTYPE html>
<html>
    <head>
        <title>Erfolgreich Registriert</title>
    </head>

    <body>
        <h2>Das konto wurde Erfolgreich angelegt</h2>

        <!--Hier kommt eine js-Funktion welche den Grund des Fehlers ausgibt (Email schon vorhanden/
            Passwort entspricht nicht den voraussetzungen etc.-->

        <p>Grund der Fehlermeldung:</p>

        <p></p>

        <a href="/goto_login" class="button">zum Login</a>
        <p></p>
        <a href="/goto_register" class="button">Zurück zur Registrierung</a>
        <p></p>
    </body>


</html>