<!DOCTYPE html>
<html>
    <head>
        <title>Benutzer Hinzufügen</title>
    </head>

    <body>
        <form action="/oncreate" method="POST">
            Email Adresse: <br>
            <input type="text" name="email"> <br>
            Passwort: <br>
            <input type="password" name="passwort"> <br>
            <br>
            Passwort wiederholen: <br>
            <input type="password" name="passwort"> <br>
            <br>

            <button type="submit"> Neues Konto anlegen</button>
        </form>
        <br>
        <form action="/home">
            <input type="submit" value="Startseite">
    </form>

    </body>

</html>