<!DOCTYPE html>
<html>
    <head>
        <title>Fehler bei der Registrierung</title>
    </head>

    <body>
        <h2>Die Eingegebenen Daten zur Registrierung sind Fehlerhaft</h2>

        <!--Hier kommt eine js-Funktion welche den Grund des Fehlers ausgibt (Email schon vorhanden/
            Passwort entspricht nicht den voraussetzungen etc.-->

        <p>Grund der Fehlermeldung:</p>

        <p></p>

        <a href="/home" class="button">Startseite</a>
        <p></p>
        <a href="/goto_register" class="button">Zurück zur Registrierung</a>
        <p></p>
    </body>


</html>