<!DOCTYPE html>
<html>
    <head>
        <title>Benutzer Hinzufügen</title>
    </head>

    <body>
        <form action="/oncreate" method="POST">
            Vorname: <br>
            <input type="text" name="vorname"> <br>
            <p></p>
            Nachname: <br>
           
            <input type="text" name="nachname"> <br>
            <p></p>
            Email Adresse: <br>
            <input type="text" name="email"> <br>
            <p></p>
            Passwort: <br>
            <input type="password" name="passwort"> 
            <p></p>
            Passwort wiederholen: <br>
            <input type="password" name="passwort"> 
            <p></p>
            <button type="submit"> Neues Konto anlegen</button>
        </form>

        <p></p>

        <a href="/home" class="button">Startseite</a>
        <p></p>
        
    </body>


</html>