<!DOCTYPE html>
<html>
    <head> 
        <base href="/">               
        <link type="text/css" rel="stylesheet" href="style.css" />
        <title> Erfolgreich Registriert</title>
</head>
        <!------------------Navigationsleitste------------------->
        <body> 
            <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,800,300" rel="stylesheet" type="text/css"/>
            <h1>CinemaSeat</h1>
            <h2>Filmreife Kinosoftware</h2>
            <nav class="nav">
            <ul class="nav__menu">
                    <li onclick="location.href='/home';" class="nav__menu-item"> <a>Startseite</a></li>
                    <li onclick="location.href='/goto_program';" class="nav__menu-item"><a>Aktuelles Programm</a>
            <ul class="nav__submenu">
                    <li onclick="location.href='/#';" class="nav__submenu-item"> </a> <a>James Bond: Ein neuer Auftrag</a></li>
                    <li onclick="location.href='/#';" class="nav__submenu-item"> <a>Star Wars: Episode 10</a></li>
                    <li onclick="location.href='/#';" class="nav__submenu-item"> <a>2020 The Movie</a></li>
                    <li onclick="location.href='/#';" class="nav__submenu-item"> <a>Narvel's The Revengers</a></li>
            </ul>
            </li>
            <li onclick="location.href='/goto_info';" class="nav__menu-item"><a>Über das Kino</a></li>
            <li class="nav__menu-item"><a>Account</a>
            <ul class="nav__submenu">
                    <li onclick="location.href='/goto_login';" class="nav__submenu-item"> <a>Login/Logout</a></li>
                    <li onclick="location.href='/goto_account_settings';" class="nav__submenu-item"> <a>Kontoeinstllungen</a></li>
                    <li onclick="location.href='/goto_register';" class="nav__submenu-item"> <a>Registrierung</a></li>

            </ul>
            </li>
            </ul>
            </nav>
    </body>
    <!------------------Navigationsleitste------------------->
   

    <body>
        <h2>Das konto wurde Erfolgreich angelegt</h2>

        <!--Hier kommt eine js-Funktion welche den Grund des Fehlers ausgibt (Email schon vorhanden/
            Passwort entspricht nicht den voraussetzungen etc.-->

        <p></p>
        <h2>
            <a href="/goto_login" class="button">zum Login</a>
        <p></p>
        <a href="/goto_register" class="button">Zurück zur Registrierung</a>
        <p></p>
        </h2>
        
    </body>


</html>