<!DOCTYPE html>
<html>
    <head> 
        <base href="/">               
        <link type="text/css" rel="stylesheet" href="style.css" />
        <title> Registrierung</title>
        <%- include('navbar')%>

        <!------------------Titel------------------->
        <h1></h1>
        <body>
       <h1>
           SITZWAHL
       </h1> 

       <h2>
           Für den Film: <%=titel%>
       </h2>


       <div class="box">
        <form action="/getBuyConfirm" method="POST">

        <div class="input-container">
            <label for="seat">Sitzplatz (1-9  ,  1-9)</label> 
            <br>
            <input type="text" name="seat" placeholder="Reihe, Platznummer"required> 		
        </div>

       <button type="submit" class="ticket_button"> Sitzplatzticket kaufen</button>
    </form>
    </div>


    </body>
</head>

</html>