<!DOCTYPE html>
<html>
    <head> 
        <base href="/">               
        <link type="text/css" rel="stylesheet" href="style.css" />
        <title> Registrierung</title>
        <%- include('navbar')%>

        <!------------------Titel------------------->
        <h1></h1>
        <body>
       <p1>
           SCREEN ZUR SITZWAHL
       </p1> 

       <p2>
           Für den Film: <%=titel%>
       </p2>

       <p3>
        <form action="/getBuyConfirm" method="POST">
            <label for="seat" >Sitzplatz (a-h,1-8)</label>
            <input name="sitzplatz"required><br><br>
            <button type="submit" class="ticket_button">Sitzplatzticket kaufen </button>
        </form>
       </p3>
    </body>
</head>

</html>