<!DOCTYPE html>
<html>
    <head> 
        <base href="/">               
        <link type="text/css" rel="stylesheet" href="style.css" />
        <title> Registrierung</title>
        <%- include('navbar')%>

        <!------------------Titel------------------->
        <h1></h1>
        
       <p1>
           SCREEN ZUR SITZWAHL
       </p1> 

       <p2>
           Für den Film: <%=titel%>
       </p2>
    </head>
</html>