


/*Quellenangabe Navigationsleiste: https://codepen.io/mikerojas87/pen/rojKb */


html {
    box-sizing: border-box;
  }
  
  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }
  
  body {
    
    margin: 0;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background: #3AAFA9;
  }
  
  nav ul {
    list-style: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
  }

  
  #nav {
    width: 100%;
    margin: 0 auto;
    background: #2B7A78;
    color: #f0f0f0;
  }
  #nav a {
    display: block;
    padding: 0 50px;
    line-height: inherit;
    cursor: pointer;
  }
  #nav__menu {
    line-height: 50px;
    font-weight: 500;
    width: fit-content (20%);
    text-transform: uppercase;
  }
  #nav__menu-item {
    display: inline-block;
    position: static;
  }
  #nav__menu-item:hover {
    background-color: #184443;

  }
  #nav__menu-item:hover #nav__submenu {
    display: block;
  }
  #nav__submenu {
    font-weight: 300;
    text-transform: none;
    display: none;
    position: absolute;
    width: fit-content (5%);
    background-color: #184443;
    z-index: 100;
  }
  #nav__submenu-item:hover {
    background: rgba(197, 197, 197, 0.39);
  }
  
  


  .button{
      display: inline;
      float: left;
      size: 10px;
      background-color: rgb(140, 84, 167);
      border:200px;
      color: white;
      margin-top: 10%;
      padding: 5px 5px;
      margin-right: 10%; 
      text-decoration: none;
      line-height: 50px;
      font-weight: 200;

  }

  p{
    padding-left: 20%;
    color: white; 
    font-size: medium;
  }
form{
    color: white;
    padding-left: 20%;
}
.movie_prev{
  position: relative;
  padding: 20px;
  padding-bottom: 100px;
  text-align: center;
  color: white;
  font-size: 20px;
  font-weight: 500;
  border-radius: 5px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.322);
  margin: 20px;
  width: 500px;

  height: available;
  min-height: 700px;
  float: left;
  background-color: #db9647;
  border-collapse: collapse;

}
.ticket_button{
  float: center;
  position: absolute;
  top: 90%;
  left: 30%;
  border-radius: 5px;
  display: inline;
  size: 10px;
  background-color: #2B7A78;
  border:200px;
  color: white;
  padding: 5px 5px;
  text-decoration: none;
  line-height: 50px;
  font-weight: 200;

}
.ticket_button:hover{
  background-color: rgb(21, 180, 0);


}

h1 {
  width: 500px;
  margin: 30px auto 20px;
  margin-bottom: 5px;
  color: #f0f0f0;
  text-align: left;
}
h2 {
    width: auto;
    margin: 5px auto 20px;
    color: #db9647;
    text-align: center;

}

h3 {
  width: 500px;
  margin: 30px auto 20px;
  margin-bottom: 5px;
  color: #f0f0f0;
  font-weight: 400;
  text-align: center;
}
h4 {
    width: 500px;
    margin: 5px auto 20px;
    color: #db9647;
    font-weight: 400;
    text-align: center;

}
