<!DOCTYPE html>
    <html>

        <head> 
            <base href="/">               
            <link type="text/css" rel="stylesheet" href="style.css" />
            <title> Kontoeinstellungen</title>
            <%- include('../navbar')%> 
    </head>
       

    <body>
        <h1>Benutzerkonto</h1>
        <h3>
            <p></p>
            Vorname: <%=sessionVariables.userName%>
            <p></p>
            Nachname: <%=sessionVariables.userLastname%>
            <p></p>
            Email: <%=sessionVariables.userEmail%> 
            <p></p>
            </p>
        </h3>
        <div>
            <br>
            <br>
        <% switch (sessionVariables.role) {

            case 'admin' : %>
                <div class="buttons">
                    <button class="button"><a href="/goto_user_manager" >Benutzerverwaltung</a></button>
                    <form action="goto_edit_account" method="POST"> <button class="button" type="submit" name="edit_user">Kontodaten ändern</button> </form>
                    <button class="button"><a href="/goto_delete_account">Konto Löschen</a></button>
                    <button class="button"><a href="/getmovie_manager">Filmprogramm bearbeiten</a></button>
                    <button class="button logout_btn"><a href="/goto_logout">Logout</a></button> 
                </div>


            <% break;
                
            case 'user' : %>
            <div class="buttons">

            <form action="goto_edit_account" method="POST"> <button class="button" type="submit" name="edit_user">Kontodaten ändern</button> </form>
            <button class="button"><a href="/goto_delete_account">Konto Löschen</a></button>
        
        </div>
        <% break;
        } %>


        <p></p>
       
        <p></p>
    </div>
    </body>



</html>