<!DOCTYPE html>
    <html>

        <head> 
            <base href="/">               
            <link type="text/css" rel="stylesheet" href="style.css" />
            <title> Kontoeinstellungen</title>
            <%- include('../navbar')%> 
    </head>
       

    <body>
        <h1>Benutzerkonto</h1>
        <h2>
            <p></p>
            Vorname: <%=vorname%>
            <p></p>
            Nachname: <%=nachname%>
            <p></p>
            Email: <%=email%> 
            <p></p>
            </p>
        </h2>
        <h2>
            <% switch (rolle) {
                case 'admin' : %>
                <a href="/goto_user_manager" class="button">Benutzerverwaltung</a>
                <a href="/goto_account_settings" class="button">Kontodaten ändern</a>
                <a href="/goto_delete_account" class="button">Konto Löschen</a>
                        <% break;
                
                case 'user' : %>
                <a href="/goto_admin_settings" class="button">Kontodaten ändern</a>
                <a href="/goto_delete_account" class="button">Konto Löschen</a>
                        <% break;
                
                } %>


        <p></p>
       
        <p></p>
        <a href="/goto_logout" class="button">Logout</a>   
        </h2>
    </body>



</html>